@using System.Web.Security;
@using MyJourney.Models.Helpers;

@if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
{
    using (Html.BeginForm("Logout", "Session", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.Name.PrettyUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" name="registerLink" id="registerLink" data-toggle="modal" data-target="#myModal">Register</a> </li>
        <li><a href="#" name="loginLink" id="loginLink" data-toggle="modal" data-target="#myModal">Login</a> </li>
    </ul>
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>