@model List<MyJourney.Models.Category>

    <div class="row">
        <div class="col-md-4">
            @if (Model != null)
            {
                foreach(var category in Model)
                {
                    <a href="#">@category.Name</a>
                }
            }
            else
            {
                <h3>No category found.</h3>
            }

         </div>
     </div>
